body {
  background-color: #2C2F33;
  color: #fff;
}

.item-container {
  margin-top: 40px;
  margin-left: 5em;
  margin-right: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10%, auto));
  grid-template-rows: repeat(3, 300px);
  gap: 25px 25px;
}

.item {
  background-color: #23272A;
  border-radius: 15px;
  border: 1px solid black;
  padding: 18px;
}

.item .item-title {
  font-size: 24px;
}

.item .item-description {
  font-size: 18px;
}

.discord-purple {
  background-color: #7289DA;
  color: #fff;
}