body {
  background-color: #2C2F33;
  color: #fff;
}

.item-container {
  margin-top: 40px;
  margin-left: 5em;
  margin-right: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(3, 250px);
  gap: 25px 25px;
}

.item {
  background-color: #23272A;
  border-radius: 15px;
  border: 1px solid black;
  padding: 18px;
}

.bg-red {
  background-color: rgb(255, 0, 0);
  color: #fff;
}

.bg-red:hover {
  background-color: rgb(85, 51, 51);
  color: #fff;
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item .item-title {
  font-size: 24px;
}

.item .item-description {
  font-size: 18px;
}

.discord-purple {
  background-color: #7289DA;
  color: #fff;
}