@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container_all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container1{
    background: linear-gradient(#00C9FF, #92FE9D);
    border: white solid 1px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding-right: 60px;
    cursor: pointer;
    font-size: 40px;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    margin-top: 60px;
    margin-bottom: 10px;
	margin-right: 751px;
    padding-right: -;
    height: 234px;
    width: 470px;
    margin-top: 14px;
}

.img {
    height: auto;
    width: 250px;
}

.container2{
    background: linear-gradient(#fc00ff, #00dbde);
    border: white solid 1px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding-right: 60px;
    cursor: pointer;
    font-size: 50px;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    margin-top: 10px;
}

.description {
    margin-left: 10px;
}

.description2 {
    margin-left: 30px;
}

.atag {
    text-decoration: none;
}

.official_support {
    font-family: 'Do Hyeon', sans-serif;
    margin-top: 10px;
}

body
{
    display: flex;
   /* justify-content: flex-end;*/
    min-height: 100vh;
    flex-direction: column;
}

footer
{
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    padding: 30px 100px;
    background: #191919;
    color: #ffffff;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1.5px;
}

footer .f_container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .f_container .foot h2:before
{
    content: ' ';
    position: absolute;
    bottom: 80px;
    left: 100px;
    width: 50px;
    height: 2px;
    background: blue;
}


.sci
{
    margin-top: 20px;
    display: flex;
}

.sci li 
{
    list-style: none;
}

.sci li a
{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sci li a:hover
{
    background: #ffff;
}