<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인트봇 상태</title>
    <link rel="stylesheet" href="/css/status.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a href="https://teamint.xyz"><img src="/img/symbol.png" alt="" width="50" class="d-inline-block align-top"></a>
        </div>
    </nav>



    <footer>
        <div class="f_container">
            <div class="foot">
                <h2><img src="/img/logo.png" width="100px"></h2>
                <p>
                    Team int Official
                </p>
            </div>
            <ul class ="sci">
                <li><a href="https://discord.gg/nKaM6RrN92" target="blank"><img src="/img/discord-logo.png" width="40px"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>